*{
    margin: 0;
    padding: 0;
    --green:#203533; 
}

.button{
    padding:0 1rem ;
    width: 100%;
}

.cardHeader{
    padding: 0 !important;
}
.cardImg{
    max-height: 10rem;
    width: 100%;
    overflow: hidden;
}
.cardContent{
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.cardButton{
    padding: 0;
    margin: 0;
}
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    padding: 1rem;
  }

ion-card img {
    min-width: -webkit-fill-available;
}
ion-button{
    color: white;
    text-transform: none;
}
.p-1{
    padding-top: 1rem;
}
.mt-1{
    margin-top: 1rem
}
ion-content{
    padding: 1rem;
}
.py-1{
    padding: 0 1.5rem;
}
ion-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}
.logoUser{
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 2.7rem;
    transform: translate(0, -50%);
}

ion-card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
ion-card-title{
    font-size: 1.4rem;
    text-align: center;
}
ion-card-content div{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}