*{
    margin: 0;
    padding: 0;
    --green:#203533; 
    --grey:#e3e3e3; 

}
h1{
    text-align: center;
}
.button{
    /* padding:0 1rem ; */
    width: 100%;
}

.cardHeader{
    padding: 0 !important;
}
.cardImg{
    max-height: 10rem;
    width: 100%;
    overflow: hidden;
}
.cardContent{
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.cardButton{
    padding: 0;
    margin: 0;
}
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    padding: 1rem;
  }

ion-card img {
    min-width: -webkit-fill-available;
}
ion-button{
    color: white;
    text-transform: none;
}
.p-1{
    padding-top: 1rem;
}
.mt-1{
    margin-top: 1rem
}
ion-content{
    padding: 1rem;
}
.py-1{
    padding: 0 1.5rem;
}
ion-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}
.logoUser{
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 2.7rem;
    transform: translate(0, -50%);
}

ion-card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
ion-card-title{
    font-size: 1.4rem;
    text-align: center;
}
ion-card-content div{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}
.event-detail-content{
    padding: 0 2rem 2rem 2rem;
}
.little-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0 2rem;
    justify-content: space-between;
}
.little-info div{
    display: flex;
    gap: 1rem;
    align-items: center;
}
ion-card-subtitle{
    padding: 1rem 1rem 0 1rem;
}
.event-detail-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#content-booking{
    top: 1rem;
}
#content-booking ion-card{
    padding: 1rem;
}
ion-list{
    margin-bottom: 1rem !important;
}
.logo-acceuil{
   height: 5rem;
}
.log-home{
     padding: 5rem 1rem;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 1rem;
}
.title-log{
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--green);
}
.log-home form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.log-home ion-input{
   background-color: var(--grey);
   border-radius: 50px;
}
#google-button{
    background-color: white;
    border-radius: 50px;
    padding: 0.5rem;
    width: 4rem;
    border: solid var(--grey) 0.5px;
}
.page-message{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding-top:4rem;
}
.form-location{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bike-dispo{
    background: var(--grey);
    padding: 1rem;
}
#scan-option{
    top:4rem;
}
.gif{
    width: 20%;
}
.anim-bike{
    width: 30%;
    transform: scaleX(-1);
    position: relative;
    animation: roule 4s ease 0s 1 normal ;
}
@keyframes roule {
    0%   { left:-50%; top:0px;}
    50%  {left:0%; top:0px;}
    75% { transform-origin: 100% 100%; rotate: 20deg;}
    100% { left:0px; top:0px;transform-origin: 50% 50%; rotate: 0deg;}
}
